body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.background{
    background: url(images/coursesfon.jpeg)
    repeat center center;
    min-height: 40rem;
}

nav{
    width: 100%;
    height: 80px;
    background-color: #0005;
    line-height: 80px;
}

nav ul{
    float: right;
    margin: 0;
    margin-right: 1.9rem;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
}

img{
    width: 14%;
    margin-left: 1.9rem;
    margin-top: -4%;
}

nav ul li:hover{
    background-color: coral;
    color: #000;
    font-weight: bold;
    font-size: 1.2rem;
}

.section{
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 10%;
}

.section h1{
    color: rgb(236, 228, 228);
    line-height: 50px;
}

.section h3{
    color: rgb(99, 97, 97);
}

.btn-1{
    background-color: orangered;
    padding: 0.7rem 1rem;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin-right: 1%;
}

.btn-2{
    background-color: orangered;
    padding: 0.7rem 1rem;
    color: #fff;
    border: none;
    border-radius: 10px;
}

showcase h1{
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

#courses{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#courses img{
    width: 250px;
    height: 170px;
    border-radius: 10px;
    border: 2px solid #000;
    margin: auto;
}

.apply{
    margin-top: 4%;
    background-color: orangered;
    padding: 0.7rem 1rem;
    color: #fff;
    border: none;
    border-radius: 10px;
}

#courses{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#courses img{
    width: 250px;
    height: 170px;
    border-radius: 10px;
    border: 2px solid #000;
    margin: auto;
}

.apply{
    margin-top: 4%;
    background-color: orangered;
    padding: 0.7rem 1rem;
    color: #fff;
    border: none;
    border-radius: 10px;
}

footer{
    background-color: rgb(41, 40, 40);
    color: rgb(253, 239, 239);
    text-align: center;
    padding: 3rem;
    margin-top: 4%;
}